body {
	background: url("../img/background.jpg") no-repeat center center fixed;
	background-size: cover;
	font-family: 'Source Sans Pro', sans-serif;
	height: 100%;
	width: 100%;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
}
nav .brand-logo {
	margin-left: 1%
}
nav .button-collapse i {
	line-height: 20px
}
nav .nav-wrapper {
	background-color: black;
	color: white;
	opacity: 1;
}
.side-nav {
	background-color: rgba(0, 0, 0, 0.8);
	opacity: 1;
}
.side-nav a {
	color: white;
}
.landing {
	background-color: rgba(0, 0, 0, 0.3);
	color: white;
	font-size: 325%;
	text-align: center;
	opacity: 1;
}
.headShot {
	background: url("../img/headShot.jpg") center;
	background-size: cover;
	height: 100%;
	width: 100%;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
}
.about-line {
	background-color: rgba(0, 0, 0, 0.3);
	color: white;
	font-size: 135%;
	opacity: 1;
}
.portfolio-section {
	background-color: rgba(0, 0, 0, 0.3);
	color: white;
	font-size: 325%;
	opacity: 1;
	text-align: center;
}
#portfolio-1, #portfolio-2, #portfolio-3, #portfolio-4, #portfolio-5, #portfolio-6 {
	height: 100%;
	width: 100%;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
}
#portfolio-1 {
	background: url("../img/tukio.png") center;
	background-size: cover;
}
#portfolio-2 {
	background: url("../img/GoFridge.jpg") center;
	background-size: cover;
}
#portfolio-3 {
	background: url("../img/LatestNews.png") center;
	background-size: cover;
}
#portfolio-4 {
	background: url("../img/CityTrek.png") center;
	background-size: cover;
}
#portfolio-5 {
	background: url("../img/LIRI.png") center;
	background-size: cover;
}
#portfolio-6 {
	background: url("../img/CrystalsCollector.png") center;
	background-size: cover;
}
.dark-bg:hover {
	background-color: rgba(0, 0, 0, 0.8);
	color: white;
	height: 100%;
	padding: 5px;
	opacity: 1;
	text-align: center;
	transition: 1s;
}
.dark-bg {
	height: 100%;
	padding: 5px;
	opacity: 0;
	text-align: center;
	transition: 1s;
}
.contact-section {
	background-color: rgba(0, 0, 0, 0.8);
	color: white;
	font-size: 180%;
	opacity: 1;
	text-align: center;
}
#contact-modal {
    width: 25em;
}
.modal-content {
	background-color: rgba(0, 0, 0, 0.8);
	opacity: 1;
}
img.email, img.linkedin, img.github {
	height: 70%;
	width: 70%;
}
.fa-2x {
    font-size: 3em;
}
a {
	color: white;
}

/* ----------- Desktop Devices ----------- */

@media screen and (min-width: 993px) and (max-width: 2590px) and (-webkit-min-device-pixel-ratio: 1) {
	#portfolio-1, #portfolio-2, #portfolio-3, #portfolio-4, #portfolio-5, #portfolio-6 {
		font-size: 105%;
		height: 335px;
	}
}

/* ----------- Tablet Devices ----------- */


/* Portrait and Landscape */

@media only screen and (min-width: 601px) and (max-width: 992px) and (-webkit-min-device-pixel-ratio: 1) {
	#portfolio-1, #portfolio-2, #portfolio-3, #portfolio-4, #portfolio-5, #portfolio-6 {
		font-size: 85%;
		height: 240px;
	}
}

/* ----------- Mobile Devices ----------- */


/* Portrait and Landscape */

@media only screen and (min-width: 175px) and (max-width: 600px) and (-webkit-min-device-pixel-ratio: 1) {
	#portfolio-1, #portfolio-2, #portfolio-3, #portfolio-4, #portfolio-5, #portfolio-6 {
		font-size: 45%;
		height: 160px;
	}
	#contact-modal {
		width: 20em;
	}
	.fa-2x {
    font-size: 2.5em;
	margin-left: -.2em;
	}
	/*#contact-modal {
    width: 20em;
	}*/
	/*img.email, img.linkedin, img.github {
	height: 50%;
	width: 50%;
	}*/
}